@font-face {
    font-family: Dense;
    src: url('../fonts/Dense-Regular.otf')
}

body {
	font-family: Dense;
    /*background-color: #005266;
    background: rgb(255, 154, 51);   
    background: rgba(255, 154, 101, 0.6);*/

    background: url(../img/Princeton.jpg) no-repeat center center;
    background-size: cover;

    padding-top: 65px;
}


.title {
	color: white;
	font-size: 400%;

}

.listofclasses {
	color: white;
}

.option {
	color: grey;
	font-size: 200%;
}

.navbar-custom {
    background: rgb(255, 154, 51); 
    background-color: rgba(255, 154, 101, 0.8);
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.highcharts-container{
    background-color: rgba(0,0,0,0.8)
}

.h3 > a {
    color: black;
}