<!-- HTML template for displaying the aggregrate grade distribution for a department, as well as links to all the classes in that department -->
{% extends 'curves/base.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
<h1 class="title">{{ name }}</h1>

<div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Professors for this Course
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for p,name in profs %}
                <li> <a href = "/curves/prof/{{ p }}/"> {{ name }}</a></li>
            {% endfor %}    
          </ul>
        </div>

<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#">View All Semesters</a></li>
	{% for s in sem_list %}
  		 		<li role = "presentation"> <a role ="menuitem"  tabindex="-1" href = "/curves/{{ course.dept }}/{{ course.num }}/{{ s }}/">{{ s }} </a> </li>

	{% endfor %}
  </ul> 

<div id="container" style="width:100%; height:400px;"></div>

<!-- Generate (hidden) table from whichto reference data for chart -->
<table class="thisTable">
	{% for grade, number in dist %}
	<!-- Optional functionality: only show grades that make up >x% of grades; may be
	     useful for deciding whether to show PDF  -->
			<tr>
				<td class="_grade" hidden >{{ grade }}</td>
				<td class="_numGrade" hidden >{{ number }}</td>
			</tr>
	{% endfor %}
</table>

<script src = "{% static 'curves/js/highchartsscript.js' %}"></script>
{% endblock %}
